include header.pug
include optionsBar.pug
div.container#mainContent
    div.col-xs-12
        h1(style='font-size:200px; text-align:center; margin-top:20px') 500
        h2(style='text-align:center;') Oops, something went wrong - click #[a(href='/' style='text-decoration:underline') here] to go back.
        
include footer.pug