include header.pug

form
    label(for='createPollFormName') Poll Name
    input(id='createPollFormName' type='text' required)
    label(for='createPollFormDescription') Description
    input(id='createPollFormName' type='text' required)
    label(for='createPollFormName') Poll Name
    input(id='createPollFormName' type='text' required)
    label(for='createPollFormName') Poll Name
    input(id='createPollFormName' type='text' required)

    input(type

include footer.pug