include header.pug
include optionsBar.pug
div.container#mainContent

    div.col-xs-12#pollTitle 
        h2 #{pollName}
        
        - var pollData = JSON.parse(poll)
 
        h4#pollAuthor #{pollData.creator}
        
    div.col-xs-12.col-sm-6 
        canvas#pollChart(width='500' height='500')
    each item in pollData.pollData
        div.voteButton.col-xs-10.col-sm-4.col-sm-offset-1.col-xs-offset-1 
            div
            p #{item.entryName}
            
include footer.pug

        