p #{testObj}

script.
    // var x = !{JSON.stringify(testObj)}
    // console.log(!{JSON.parse(testObj)}
    // console.log(JSON.parse(x))
     console.log(!{JSON.parse(JSON.stringify(testObj))})
    //    console.log(x.replace(/&quot;/g,'"').replace(/\$sQuote/g,"'").replace(/\$dQuote/g,'"'))